<html>
  <head>
    <style type='text/css' rel='stylesheet' media='all'>
      body { font-family: sans-serif, Raleway, Ubuntu; }
    </style>
  </head>
  <body>
    <h1>Пользователь: {{email}} отправил заявку</h1>
    <p>Короткое описание проблемы: {{shortDescription}}</p>
    <h2>Полное описание проблемы:</h2>
    <p>{{trouble}}</p>
    <img src='{{imageLink}}/{{domain}}' alt='Изображение не загружено' />
  </body>
</html>